body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

header nav {
    display: flex;
    justify-content: space-around;
}

header nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

header nav a:hover {
    background-color: #FF2D20;
    border-radius: 5px;
}

main {
    padding: 30px;
    text-align: center;
}

main h1 {
    font-size: 2.5rem;
    color: #333;
}

main p {
    font-size: 1.2rem;
    color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Responsywność */
@media (max-width: 768px) {
    header nav {
        flex-direction: column;
        align-items: center;
    }

    main h1 {
        font-size: 2rem;
    }

    main p {
        font-size: 1rem;
    }
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px; /* Ograniczenie szerokości formularza */
    margin: 0 auto; /* Wyśrodkowanie formularza */
}